<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="SystemTitle" value="三峡"/>
    <add key="GlobeDataPath" value="E:\测试场景\场景缓存\测试场景\测试场景.sxwu"/>
    <add key="DataSourceName" value="QcFeatures"/> --><!--udb数据--><!--
    <add key="SceneName" value="测试场景"/>
    <add key="RoutesPathKey" value="Data\Routes"/>
    <add key="QueryNameFieldKey" value="NAME"/>
    <add key="QueryCodeFieldKey" value="SmID"/>
    <add key="FeatureImagesPathKey" value="Data\Feature\Images"/>
    <add key="FeatureVideosPathKey" value="Data\Feature\Videos"/>-->
    
    <add key="SystemTitle" value="三维展示系统"/>
    <add key="GlobeDataPath" value="E:\qc_scene_cache\蕲春\蕲春.sxwu"/>
    <add key="DataSourceName" value="QcFeatures"/><!--udb数据-->
    <add key="SceneName" value="蕲春"/>
    <add key="RoutesPathKey" value="Data\Routes"/>
    <add key="QueryNameFieldKey" value="名称"/>
    <add key="QueryCodeFieldKey" value="SmID"/>
    <add key="FeatureImagesPathKey" value="Data\Feature\Images"/>
    <add key="FeatureVideosPathKey" value="Data\Feature\Videos"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
