<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="GlobeDataPath" value="E:\常用数据\QC2\蕲春县.smwu"/>
    <add key="DataSourceName" value="ALL"/>
    <add key="SceneName" value="蕲春"/>
    <add key="RoutesPathKey" value="Routes"/>
    <add key="queryNameFieldKey" value="name"/>
    <add key="MarkFileName" value="Images\mark.png"/>
  </appSettings>
</configuration>